{%include "header.html" %}
<div style="background: linear-gradient(135deg, #9a9aba 0%, #6a6a8a 100%); color: rgb(16, 15, 15);">
    <div class="container py-5">
        <div class="row justify-content-center text-center">
            <div class="col-lg-8">
                <div class="mb-4">
                    <h1 class="display-4 fw-bold mb-3">
                        <i class="bi bi-search-heart me-2"></i>Recherche d'objets perdus
                    </h1>
                    <div class="border-top border-white border-2 w-25 mx-auto my-4"></div>
                    <p class="lead mb-0 fs-3">
                        "Un campus uni ne perd rien... sauf ses mauvaises habitudes !"
                    </p>
                </div>
                
            </div>
        </div>
    </div>
</div>
<div  class="d-flex justify-content-center align-items-center " style="height: 100px;">
    <p>
        <h2>Rechercher dans une base de données de l'université d'objets trouvés</h2>
    </p>
</div>


<div class="row ">
    <div class ="col-md-4 mb-3 " style="height: 100px;" >
        <p ><h4>
                Objet perdu ou trouvé
        </h4>
                vous pouver ajout un objet trouver ou <br>
                rechercher un perdu en milieu academique.    
        </p>
    </div>
    <div class ="col-md-4 mb-3 " style="height: 100px;" >
        <p>
            <h4>
                Les fonction des recherche disponibles 
            </h4>
            Vous pouvez faire une recherche par campus <br>
            ou vous avez perdu l'objet<br>
            et prorchainement par date,et nom de l'objet  <br> 
        </p>
    
    </div>
    <div class ="col-md-4 mb-3 " style="height: 100px;">
        <p>
            <h4>
               Devise 
            </h4>
            Derrière chaque objet rendu, il y a une personne soulagée 
        </p>
    </div>
</div>

 





{% include "footer.html" %}