</main>
<footer class="navbar-custom bg-gradient py-3 text-white" style="--bs-bg-opacity: 0.9;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-start">
                &copy; 2023 Mon Entreprise
            </div>
            <div class="col-md-6 text-center text-md-end">
                <a href="#" class="text-white text-decoration-none me-3">Mentions légales</a>
                <a href="#" class="text-white text-decoration-none me-3">Contact</a>
                {%if 'username' in session %}
                <a href="/admi"  class="text-white text-decoration-none">manlune</a>
                {% endif %}
            </div>
        </div>
    </div>
</footer>
</body>
</html>