{%include "header.html" %}
<div class="min-vh-100 d-flex justify-content-center align-items-center">
   
    <form class="border p-4 rounded shadow" style="width: 400px;" action="{{ url_for('modifier_obj', id=objet.id) }}" method="post" enctype="multipart/form-data">
        {% if error %}
        <div class="alert alert-danger text-center py-4">
            <i class="fas fa-info-circle me-2"></i>
           
               {{error}}
           
        </div>
        {% endif %}
        <div class="mb-3">
            <label for="image" class="form-label">Image de l'objet</label>
            
        
            <input class="form-control" type="file" name="image" id="image" accept="image/*" {% if not objet %}required{% endif %}>
            
          
            {% if objet and objet.image %}
            <div class="mt-2">
                <p>Image actuelle :</p>
                <img src="{{ url_for('static', filename='uploads/' + objet.image) }}" 
                     class="img-thumbnail" 
                     style="max-height: 200px;">
                <input type="hidden" name="existing_image" value="{{ objet.image }}">
            </div>
            {% endif %}
        </div>
        
        <div class="mb-3">
            <label for="etablissement-input" class="form-label me-2">Établissement</label>
            <input class="form-control me-2" 
                   type="search" 
                   value="{{courant}}" 
                   id="etablissement-input"
                   name="etablissement"
                   list="etablissement-options"
                   placeholder="Rechercher votre établissement"
                   required
                   autocomplete="off">  <!-- Désactive l'autocomplétion navigateur -->
            
            <datalist id="etablissement-options">
                {% for etablissement in etablissements %}
                    <option value="{{ etablissement.name }}">
                {% endfor %}
            </datalist>
        </div>
        
        <div class="mb-3">
            <label for="post" class="form-label">Description</label>
            <textarea class="form-control" name="post" id="post" 
                      placeholder="Décrivez l'objet en quelques mots" required>{{objet.post}}</textarea>
        </div>
        

        <button type="submit" class="btn btn-warning navbar-custom w-100 mb-2">
            <span style="color: rgb(11, 11, 11);">Modifier</span>
        </button>
        <a href="{{ url_for('detail', id=objet.id) }}" class="btn btn-dark w-100">Annuler</a>
    </form>
    
    
</div>











{% include "footer.html" %}